/.phpunit.cache
/node_modules
/public/build
/public/
/public/brands
/public/categories
/public/contacts
/public/images
/public/img
/public/locations
/public/products
/public/settings
/public/sliders
/public/users
/public/storage
/storage/*.key
/storage
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed